<% provide(:title, "Sign in") %>
<h1>Trainee Login</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>   
    <p> Superviosr ? <%= link_to "Sign in as supervisor", supervisors_signin_path %> </p>
  </div>
</div>