<div class="row">
  <div class="span6 offset3">
    <%= form_for [:supervisors, @course] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :description, placeholder: "Description" %>

      <div>
        <%= f.fields_for :course_subjects do |builder| %>
         
        <% end %>
      </div>
      <br>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>