<h1><span class="name"><%= @course.course_name %></span></h1>
<p2>Subjects list</p2>
  <% if signed_in?%>
    <p>
    <% @course_subjects.each do |course_subject| %>
      <% subject = course_subject.subject %>
      <% trainee_subject = current_trainee.trainee_subjects.find_by_subject_id subject.id %>
      <p><%=link_to subject.subject_name,subject_path(subject.id) %> -- 
      <% if trainee_subject.status == "F" %>
      Finished <% else %> New <% end %> </p>
      <%  
        assigned_tasks = current_trainee.assigned_tasks
        assigned_tasks.each do |assigned_task|
          task = assigned_task.task 
      %> 
          <p><% if task.subject_id == subject.id %>
          <%= task.task_description %> -- <% if assigned_task.status == "F" %>Finished <% else %> New <% end %> <% else end %> </p>
        <% end %>
    <% end %>
    </p>
  <% else %>
  <p>
    <% @course_subjects.each do |course_subject| %>
    <% subject = course_subject.subject %>
    <p><%= link_to subject.subject_name,subject_path(subject.id) %></p>
    <% end %>  
  </p>
  <% end %>
<p2>Description</p2>
<p><span class="decription"><%= @course.description %></span></p>
<p><b> Participants </b></p>
<p>
  <% @enrolls.each do |enroll| %>
    <% if enroll.trainee.supervisor == 0 %>
      <p><%= link_to enroll.trainee.name,trainee_path(enroll.trainee.id) %>
    <% else %>
    <% end %>
  <% end %> 
</p>
<p><b>Activity log</b></p>
<% @activity_log.each do |activity| %>
  <p><%= activity["description"] %> --
  <%= time_ago_in_words(activity["timecomplete"]) %> ago</p>  
<% end %>   
